{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% block map %}{% endblock %}
    <br/>
    <table>
        <tr>
            <td>
                <label>Place Name</label>
                <br>
                <input type="text" name="place_name" id="place_name"
                       placeholder="Place Name"
                       value="{{ request.form['place_name'] }}"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Path Priority</label>
                <br>
                <input type="radio" id="quietness" name="path_way_priority" value="quietness" checked>
                <label for="quietness">quietness</label><br>
                <input type="radio" id="distance" name="path_way_priority" value="distance">
                <label for="distance">distance</label><br>
            </td>
        </tr>

    </table>
    <button type="button" onclick="get_path()">Submit</button>

    <script>
        function get_path(){
            var place_name = document.getElementById("place_name").value.trim();
            var path_way_priority = document.querySelector('input[name="path_way_priority"]:checked').value;
            var start_marker = markers["start_marker"].getLatLng();
            var end_marker = markers["end_marker"].getLatLng();

            if (!place_name) {
                alert("Place name can't be empty");
                return;
            }

            window.open("/get_route/"
            + place_name + "/"
            + start_marker["lat"] + "/"
            + start_marker["lng"] + "/"
            + end_marker["lat"] + "/"
            + end_marker["lng"] + "/"
            + path_way_priority).focus();

        }
    </script>
</form>

{% endblock %}