{% extends "index.html" %}
{% block map %}

<div id="map" style="width: 600px; height: 400px;">
</div>
<!--<button onclick="resetMap()">Reset map</button>-->

<script>

	const map = L.map('map').setView([52.501776582278694, 13.409028053283693], 16);

	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

	var markers = {}

	function onMapClick(e) {
        if (typeof markers["start_marker"] == "undefined") {
	        var start_marker = L.marker(e.latlng, {draggable:'true', title:'start point'}).addTo(map);
	        start_marker.bindPopup("Start point").openPopup();
	        markers["start_marker"] = start_marker;
	    }
	    else if (typeof markers["end_marker"] == "undefined") {
	        var end_marker = L.marker(e.latlng, {draggable:'true', title:'end point'}).addTo(map);
	        end_marker.bindPopup("End point").openPopup();
	        markers["end_marker"] = end_marker;
	    }
    }

    map.on('click', onMapClick);

    function resetMap(){
        if (map.hasLayer(markers["start_marker"])) {
            map.removeLayer(markers["start_marker"]);
        }
    }

</script>

{% endblock %}