html, body {
    height: 100%;
    margin: 0;
}

.image_list {
    list-style-type: none;
}

.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

.map {
    width: 600px;
    height: 400px;
}

.static_image {
    width: 300px;
    height: auto;
    border: solid 2px lightskyblue;
}
